@import "tailwindcss";

/* Esta linha é crucial no v4 para que a classe .dark funcione */
@variant dark (&:where(.dark, .dark *));

:root {
  background-color: white;
  color: #1a1a1a;
}

html.dark {
  background-color: #0a0a0a;
  color: #f8f8f8;
}

/* Transição suave para a troca de tema não ser brusca */
* {
  transition-property: background-color, border-color, color, fill, stroke;
  transition-duration: 300ms;
}